<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Epidemiological Data </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id='background'> 
            <div id='Head'>
                <h1>Trabalho: Epidemiological Data</h1>
                <p><h4>Aluno: Jonathan de Lima Ferreira, RA: 1460481711040</h4></p>
                <p><h4>Professor: Fabrício Galende Marques de Carvalho</h4></p>
            </div>
        </div>
        {% block content%}
        {% endblock %}
    </body>
</html>