{% extends 'base.html' %} {% block content %}
        <form action="/cadastro_epidemiologico" id='Adicionar' method="post">
            <div class="Add_data">
                <input type="text" name="data_coleta" id="data_coleta" placeholder="Data da Coleta">
            </div>
            <div class="Add_doenca_assoc">
                <input type="text" name="doenca_associada" id="doenca_associada" placeholder="Doença Associada">
            </div>
            <br>
            <div id="BTN_add">
                <button>Cadastrar</button>
            </div>
        </form>
{% endblock %}
 